name: Build and Test

on:
  workflow_dispatch:
  push:
    branches: ["main", "dev", "feature/*", "support/v1", "support/v2"]
  pull_request:
    branches: ["main", "dev", "support/v1", "support/v2"]

permissions:
  contents: read #those permissions are required to run the codeql analysis
  actions: read
  security-events: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      solutionName: apimanifest.sln
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.x
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: csharp
      - name: Restore dependencies
        run: dotnet restore ${{ env.solutionName }}
      - name: Build
        run: dotnet build ${{ env.solutionName }} --no-restore -c Debug /p:UseSharedCompilation=false
      - name: Test
        run: dotnet test ${{ env.solutionName }} --no-build --verbosity normal -c Debug /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=opencover
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
